<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>joannne</title>
   <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css" >
  
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
       <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
<header class="masthead">
   <h3 class="masthead-title">
     <a href="{{ site.url }}/" id="header"> joanne koong </a>
     <br>

     <div class = "iconz"> 
    <a target="_blank" href="https://github.com/joannebear"><i class="fa fa-github fa-fw" style="font-size: 0.73em;"></i> <span class="network-name"></span></a>
    <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>

    <a target="_blank" href="https://www.linkedin.com/in/joannekoong"><i class="fa fa-linkedin fa-fw" style="font-size: 0.73em;"></i> <span class="network-name"></span></a>
    </div>
                         
</h3>
</header>
</div><!-- .container -->


<div id="content">
  {{ content }}
</div>